##pertemuan 1
* Pemrograman Dasar di Python

##Variable
* Deklarasi nilai ke dalam variabel

In [ ]:
 # input "8" ke dalam variable A
 A = 8
print(A)
print("output:", A)

8
output: 8

In [ ]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [ ]:
# input nilai sebagai list 
nilai = [70,80,90,100,85]
# nilai
print(nilai)

[70, 80, 90, 100, 85]

In [ ]:
data = [80,"A","Joni"]
print(data)

[80, 'A', 'Joni']

##Conditional
* Mengeksekusi nilai berdasarkan kondisi

In [ ]:
if 7 == A:
  print("Nilai 7 sama dengan nilai A yang mana adalah", A)
else:
  print("Nilai 7 tidak sama dengan nilai A yang mana adalah",A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [ ]:
# mengecek nilai didalam list
if 70 in nilai:
  print("ada nilai 70 didalam list")
else:
  print("tidak ada didalam list")

ada nilai 70 didalam list

##Looping
* Mengeksekusi nilai berdasarkan perulangan

In [ ]:
# mencetak perkalian angka 2 dengan angka 0 sampai 10
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

## User Define Function
* mendeklarasikan fungsi yang dibuat sendiri dengan awalah def nama_fungsi(parameter): isi fungsi

In [ ]:
# fungsi yang mencetak suatu nilai
def cetak_a():
  print("A")

#panggil fungsi cetak_a
cetak_a()

A

In [ ]:
# fungsi yang mengembalikan suatu nilai dari suatau masukan
def cetak_pangkat_dua(x):
  x = x**2
  return x

 # panggil fungsi cetak_pangkat_dua dengan inputan tertentu
print(cetak_pangkat_dua(4))

16

## Built-in funtion
* Memanggil fungsi bawaan dari Python

In [ ]:
# nilai = [70,80,90,100,85]
# memnaggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

# memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

#untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
* Sekumpulan kode yang memiliki fungsi-fungsi tertentu dan dapat dipanggil kedalam program lain

In [ ]:
# deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

#inisiasi vector dan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value = 10

# operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

[10 20 30 40 50]

In [ ]:
# deklarasi library dengan menggunakan nama alias
import pandas as pd

# membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns=["nilai"])
df #dataframe

   nilai
0     70
1     80
2     90
3    100
4     85

##Tugas

* Nomor 1

In [6]:
import numpy as np

vr1 = np.array([1, 2, 3, 4, 5])
vr2 = np.array([2, 4, 6, 8, 10])

result = np.array(vr1 * vr2)
print(result)

[ 2  8 18 32 50]

* Nomor 2

In [31]:
import pandas as pd

mahasiswa = ['Andi', 'Budi', 'Caca', 'Didi']
nilai = [7, 6, 10, 8]

def keterangan(nilai):
  if(nilai < 7):
    return "belum lulus"
  else:
      return "lulus"

df = pd.DataFrame({'mahasiswa':mahasiswa , 'nilai':nilai,'keterangan':[keterangan(n) for n in nilai]})
df

  mahasiswa  nilai   keterangan
0      Andi      7        lulus
1      Budi      6  belum lulus
2      Caca     10        lulus
3      Didi      8        lulus

* Nomor 3

In [32]:
print(f"{df[df['keterangan'] == 'lulus'].size * 100/df.size}%")

75.0%